NODE_ENV=development

NEST_API_PORT=4000

POSTGRES_DB=serencare_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_DB_PORT}/${POSTGRES_DB}?schema=public"

JWT_SECRET='92e8ec4a805c94ecb3aac34b92116e3146829299da2f56aa5aa2af55d8285f66'

